= turbo_frame_tag "addresses", target: "_top" do
  .table-responsive.mt-3
    %table.table.table-striped.table-bordered.table-hover.align-middle
      %thead
        %tr
          %th= t("admin.addresses.index.name")
          %th= t("admin.addresses.index.street")
          %th= t("admin.addresses.index.city")
          %th= t("admin.addresses.index.state")
          %th{style: "width: 50px;"}

      %tbody
        - if @addresses.empty?
          %tr
            %td.text-center{colspan: 5}= t('.no_addresses')
        - else
          - @addresses.each do |address|
            = content_tag :tr, id: dom_id(address) do
              %td= link_to address.name, admin_address_path(address)
              %td= address.street
              %td= address.city
              %td= address.state
              %td
                = button_to admin_address_path(address), method: :delete, class: "btn btn-link", data: { confirm: t('are_you_sure')} do
                  %i.bi.bi.bi-trash-fill.float-center.text-danger