<div class="flex justify-center">
  <div class="card mb-3">
    <% unless @address.persisted? %>
      <h2 class="h4"><%= t(".new_venue_title") %></h2>
    <% end %>

    <div class="italic ms-4 my-3"><%= t(".help_message") %></div>

    <%= form_with(model: [:admin, @address]) do |f| %>
      <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-2">
        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= component "shared/form_errors", resource: f.object, key: :name %>
        </div>

        <div class="mb-3">
          <%= f.label :street %>
          <%= f.text_field :street, class: "form-control" %>
          <%= component "shared/form_errors", resource: f.object, key: :street %>
        </div>

        <div class="mb-3">
          <%= f.label :city %>
          <%= f.select :city, CS.get(:US, :NC), {}, { class: "form-select" } %>
        </div>
      </div>

      <div class="my-3">
        <%= f.submit address.persisted? ? t(".update_venue") : t(".create_venue"), class: "btn btn-primary" %>
        <%= link_to t('cancel_btn'), admin_addresses_path, class: "btn btn-link" %>
      </div>
    <% end %>
  </div>
</div>
