.row.mt-5
  .col-12.col-sm-10.col-md-6.mx-auto
    = render Shared::PageTitleComponent.new(title: t('.title'))

    = form_with model: @message, local: true do |form|
      .mb-3
        = form.label :message_recipient, t('.recipient'), class: "form-label"
        = form.select :message_recipient, MessageRecipient.all.collect {|u| [u.name, u.id]}, {include_blank: true}, class: "form-select"

      .mb-3
        = form.label :name, class: "form-label"
        = form.text_field :name, class: "form-control"
        = errors_for @message, :name

      .mb-3
        = form.label :email, class: "form-label"
        = form.text_field :email, class: "form-control"
        = errors_for @message, :email

      .mb-3
        = form.label :content, "Message:", class: "form-label"
        = form.text_area :content, class: "form-control"
        = errors_for @message, :content

      .mb-3
        = form.check_box :request_copy, class: "form-check-input"
        = form.label :request_copy, t('.request_copy'), class: "form-check-label"

      = invisible_captcha

      .actions
        = form.submit "Send Message", class: "btn btn-primary"


