<div>
  <div class="flex justify-end items-center">
    <%= link_to t(".export_btn"), "#", class: "btn-sm btn-outline-primary" %>
  </div>
  <table class="admin-table my-4">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.email') %></th>
        <th><%= t('.event') %></th>
        <th><%= t('.date') %></th>
        <th><%= t('.time_slot') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |booking| %>
        <tr>
          <td><%= booking.name %></td>
          <td><%= booking.email %></td>
          <td>Walk <%= booking.prayer_vigil.walk_number %></td>
          <td><%= booking.prayer_slot.start_time.strftime("%b %d") %></td>
          <td><%= booking.prayer_slot.start_time.strftime("%I:%M %p") %></td>
          <td>
            <div class="float-end">
              <%= link_to "#", method: :delete, data: { confirm: "Are you sure?" } do %>
                <%= t('delete_btn') %>
              <% end %>
            </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
