<%= turbo_frame_tag "prayer_vigils" do %>
  <div>
    <table class="admin-table">
      <thead>
        <tr>
          <th>Event</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Slots</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% prayer_vigils.each do |prayer_vigil| %>
          <tr>
            <td><%= link_to prayer_vigil.title, admin_prayer_vigil_path(prayer_vigil), target: "_top" %></td>
            <td><%= prayer_vigil.start_time %></td>
            <td><%= prayer_vigil.end_time %></td>
            <td><%= prayer_vigil.active? ? "Open" : "Ended" %></td>
            <td><%= prayer_vigil.prayer_slots.size %></td>
            <td>
              <%= link_to edit_admin_editable_path(prayer_vigil), data: { turbo_frame: "edit_prayer_vigil_#{prayer_vigil.id}" } do %>
                Edit
              <% end %>
              <%= link_to admin_editable_path(prayer_vigil), method: :delete, data: { confirm: "Are you sure?" } do %>
                Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>