<%= turbo_frame_tag "events" do %>
  <div>
    <table class="admin-table">
      <thead>
        <tr>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig("event_filters", "column") == "name" %>
            <%= sort_link(column: "name", label: t("admin.events.index.name"), resource: "Event", link: "admin_events") %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig("event_filters", "column") == "walk_number" %>
            <%= sort_link(column: "walk_number", label: t("admin.events.index.walk_number"), resource: "Event", link: "admin_events") %>
          </th>
          <th class="position-relative" scope="col">
            <%= t("admin.events.index.role") %>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig("event_filters", "column") == "start_time" %>
            <%= sort_link(column: "start_time", label: t("admin.events.index.start_time"), resource: "Event", link: "admin_events") %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig("event_filters", "column") == "end_time" %>
            <%= sort_link(column: "end_time", label: t("admin.events.index.end_time"), resource: "Event", link: "admin_events") %>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig("event_filters", "column") == "name" %>
            <%= sort_link(column: "event_type", label: t("admin.events.index.event_type"), resource: "Event", link: "admin_events") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @events.empty? %>
          <tr>
            <td class="text-center" colspan="6"><%= t('.no_events') %></td>
          </tr>
        <% else %>
          <% @events.each do |event| %>
            <%= content_tag :tr, id: dom_id(event) do %>
              <td><%= link_to event.event_title, admin_event_path(event), target: "_top" %>
              <td><%= event.walk_number %>
              <td class="capitalize"><%= event.role %>
              <td><%= date_timestamp(event.start_time) %>
              <td><%= date_timestamp event.end_time %>
              <td class="capitalize"><%= event.event_type %>
            <% end %>
          <% end %>
        <% end %>

      </tbody>
    </table>
    <% unless @events.empty? %>
      <%= tag.div class: "flex justify-between items-center mt-4 px-3" do %>
        <%== pagy_info(pagy) %>
        <%== pagy_nav(pagy) %>
      <% end %>
    <% end %>
  </div>
<% end %>
