= turbo_frame_tag "events" do
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th.position-relative{scope: "col"}
            =sort_indicator if session.dig("event_filters", "column") == "name"
            =sort_link(column: "name", label: t("admin.events.index.name"), resource: "Event", link: "admin_events")
          %th.position-relative{scope: "col"}
            =sort_indicator if session.dig("event_filters", "column") == "walk_number"
            =sort_link(column: "walk_number", label: t("admin.events.index.walk_number"), resource: "Event", link: "admin_events")
          %th.position-relative{scope: "col"}
            =t("admin.events.index.role")
          %th.position-relative{scope: "col"}
            =sort_indicator if session.dig("event_filters", "column") == "start_time"
            =sort_link(column: "start_time", label: t("admin.events.index.start_time"), resource: "Event", link: "admin_events")
          %th.position-relative{scope: "col"}
            =sort_indicator if session.dig("event_filters", "column") == "end_time"
            =sort_link(column: "end_time", label: t("admin.events.index.end_time"), resource: "Event", link: "admin_events")
          %th.position-relative{scope: "col"}
            =sort_indicator if session.dig("event_filters", "column") == "name"
            =sort_link(column: "event_type", label: t("admin.events.index.event_type"), resource: "Event", link: "admin_events")
      %tbody
        - if @events.empty?
          %tr
            %td.text-center{colspan: 6}= "No events found"
        - else
          - @events.each do |event|
            = content_tag :tr, id: dom_id(event) do
              %td= link_to event.event_title, admin_event_path(event), target: "_top"
              %td= event.walk_number
              %td.text-capitalize= event.role
              %td= date_timestamp(event.start_time)
              %td= date_timestamp event.end_time
              %td.text-capitalize= event.event_type

    - unless @events.empty?
      = tag.div class: "row" do
        .col-12.d-flex.justify-content-between.align-items-center.px-3
          !=pagy_info(pagy)
          !=pagy_bootstrap_nav(pagy)
