= form_with(model: event, url: admin_events_path, data: { controller: "events" }) do |form|
  - if event.errors.any?
    #error_explanation.alert.alert-danger{role: "alert"}
      %h2.h5
        = pluralize(event.errors.count, "error")
        - t(".prohibited")
      %ul
        - event.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: 'form-control'

  .mb-3
    .row
      .col-6.col-md-8
        = form.label :event_type, class: 'form-label text-nowrap'
        = form.select :event_type, options_for_select(Event.event_types.map { |k, v| [k.titleize, Event.event_types.key(v)] }),
          { include_blank: true },
          class: 'form-select', data: { events_target: "types", action: "change->events#update" }
      .col-6.col-md-4
        = form.label :walk_number, class: 'form-label text-nowrap'
        = form.text_field :walk_number, class: 'form-control'

  .mb-3
    = form.label :address_id, "Venue", class: 'form-label'
    = form.collection_select :address_id, Address.all, :id, :name, { prompt: t('.select_venue') }, data: { events_target: "venue", action: "change->events#update" }, class: 'form-select'

  .mb-3
    .row
      .col-6
        = form.label :role, t('.roles'), class: 'form-label'
        = form.collection_select :role, Role.all, :id, :human_name, { prompt: t(".select_role") }, data: { events_target: "roles"}, class: 'form-select'

      .col-6
        = form.label :start_time, class: 'form-label'
        = form.text_field :start_time,
      data: { controller: "flatpickr",
      flatpickr_min_date: DateTime.new(Time.now.year, Time.now.month, Time.now.day, 18, 30, 0),
      flatpickr_enable_time: true,
      flatpickr_default_date: "17:00",
       }, class: 'form-control flatpickr'

  .mb-3
    = form.label :description, class: 'form-label fw-bold mb-2'
    = form.text_area :description, class: 'form-control'

  .mb-3
    - if event.persisted?
      .float-end
        = link_to t("destroy_btn"), admin_event_path, method: :delete, class: "text-danger", data: { confirm: t(".confirm") }

    = form.submit class: 'btn btn-primary'
    - if event.persisted?
      = link_to "Cancel", admin_events_path, class: "btn btn-link"
    - else
      = link_to "Cancel", admin_events_path, class: "btn btn-link"


