<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :type, class: 'form-label' %>
    <%= form.select :type, options_for_select(Event.types.map { |k, v| [k.titleize, Event.types.key(v)] }),
                    { include_blank: true },
                    class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :role, class: 'form-label' %>
    <%= form.text_field :role, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, class: 'form-label' %>
    <%= form.text_field :start_time,
                        data: { controller: "flatpickr",
                                flatpickr_min_date: Time.zone.now,
                                flatpickr_enable_time: true },
                        class: 'form-control flatpickr' %>
  </div>

  <div class="mb-3">
    <%= form.label :end_time, class: 'form-label' %>
    <%= form.datetime_field :end_time,
                            data: { controller: "flatpickr",
                                    flatpickr_min_date: Time.zone.now,
                                    flatpickr_enable_time: true },
                            class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :recurring, class: 'form-label' %>
    <%= form.text_area :recurring, class: 'form-control' %>
  </div>




  <div class="mb-3">
    <% if event.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', event, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if event.persisted? %>
      <%= link_to "Cancel", event, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", events_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
