<%= render(Shared::PageTitleComponent.new(title: t('admin.events.title'))) do %>
  <%= link_to new_admin_event_path, class: 'btn btn-primary ms-3 ms-md-0' do %>
    <%= t(".add_event") %>
  <% end %>
<% end %>

<div class="card my-8">
  <p class="mb-8 text-center font-bold"><%= t(".help_text") %></p>
  <%= form_with url: list_admin_events_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "events" } do |f| %>
    <div class="flex sm:justify-end mb-1">
      <div class="flex justify-end items-center w-full sm:w-2/3 sm:justify-end">
        <%= f.select :event_type, options_for_select(Event.event_types.map { |k, v| [k.humanize, v] }, params[:event_type]),
                     { include_blank: "Filter by Event type" }, class: "form-select", data: { action: "change->search-form#search" } %>
        <%= f.text_field :search, class: 'form-control me-0', placeholder: "Search by Event name", value: params[:search], data: { action: "input->search-form#search" } %>
      </div>
    </div>
  <% end %>
  <%= render partial: "events", locals: { event: @events, pagy: @pagy } %>
</div>
