


<div class="row">
  <div class="col-sm-6">
    <h1>Events</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_admin_event_path, class: 'btn btn-primary' do %>
    Add New Event
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Start time</th>
            <th>Recurring</th>
            <th>Role</th>
            <th>End time</th>
            <th>Type</th>
            
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <%= content_tag :tr, id: dom_id(event), class: dom_class(event) do %>
          
            <td><%= link_to event.name, event %></td>
          

                      <td><%= event.start_time %></td>
                      <td><%= event.recurring %></td>
                      <td><%= event.role %></td>
                      <td><%= event.end_time %></td>
                      <td><%= event.type %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
