.row.mt-5
  .col-md-6.mx-auto
    .card.card-body
      .d-flex.justify-content-between.align-items-center
        %h1
          =@event.name
        = link_to edit_admin_event_path(@event), class: 'btn btn-primary' do
          =t("edit_btn")

      %dl.dl-horizontal
        %dt= t(".event_name")
        %dd= @event.name

        %dt=t(".start_time")
        %dd= date_timestamp(@event.start_time)
        - unless @event.role.nil?
          =content_tag :dt do
            =(".role")
          =content_tag :dd do
            = @event.role

        %dt= t(".end_time")
        %dd= date_timestamp(@event.end_time)

        %dt= t(".event_type")
        %dd.text-capitalize= @event.event_type
