<%= turbo_frame_tag "accounts" do %>
  <table class="table table-sm small">
    <thead>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.users') %></th>
        <th><%= t(".created") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.users.count %></td>
          <td><%= date_timestamp(account.created_at) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>