= turbo_frame_tag "accounts" do
  %table.table.table-sm.small
    %thead
      %tr
        %th= t('.title')
        %th= t('.users')
        %th= t(".created")
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.name
          %td= account.users.count
          %td= date_timestamp(account.created_at)
          %td
