%h2.h3 Upcoming Events
- if !events.nil?
  - events.each_with_index do |event, idx|
    .row.mb-3.pt-2.mx-auto
      .col-1
        .text-muted.text-uppercase.font-small
          = event.start_time.strftime('%a')
        .fw-bold.font-large
          = event.start_time.strftime('%d')
      .col-6.ps-4
        .text-muted.font-medium
          = render(Event::TimeBannerComponent.new(event: event))
          %h3.mt-2.event-title.font-medium.text-black
            = link_to event.name, event_path(event)
- else
  %p
    = t('events.no_events')
