<div class="hover:border-0 hover:rounded-lg hover:shadow hover:bg-white transition-shadow hover:-translate-y-1 p-4">
  <%= link_to resource_url do %>
    <h2 class="mb-2 text-2xl text-gray-700 font-bold dark:text-white"><%= title %></h2>
    <%= image_tag(image, alt: title, class: "rounded-lg mb-4") %>
    <p class="text-gray-500 dark:text-gray-400"><%= description %></p>

    <%= old_component "shared/continue_reading", resource_url: resource_url %>
  <% end %>
</div>
