<div>
  <div class="mb-4">
    <%= pilgrim_form.label :health_condition, t('.health_condition'), class: "form-label" %>
    <%= pilgrim_form.text_area :health_condition, class: "form-control w-full" %>
  </div>
  <div class="mb-4">
    <%= pilgrim_form.label :physical_limitations, t('.physical_limitations'), class: "form-label" %>
    <%= pilgrim_form.text_area :physical_limitations, class: "form-control w-full" %>
  </div>
  <div class="flex items-center mb-4">
    <%= pilgrim_form.label :medication_time, t('.medication_time'), class: "form-label mr-2" %>
    <%= pilgrim_form.check_box :medication_time, class: "form-check-input" %>
  </div>
  <div class="mb-4">
    <%= pilgrim_form.label :allergies, t('.allergies'), class: "form-label" %>
    <%= pilgrim_form.text_area :allergies, class: "form-control w-full" %>
  </div>
</div>