<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4 mb-4">
  <div>
    <%= pilgrim_form.label :emergency_name, "Name", class: "form-label" %>
    <%= pilgrim_form.text_field :emergency_name, class: "form-control w-full" %>
  </div>
  <div>
    <%= pilgrim_form.label :emergency_relationship, "Relationship", class: "form-label" %>
    <%= pilgrim_form.text_field :emergency_relationship, class: "form-control w-full" %>
  </div>
  <div>
    <%= pilgrim_form.label :emergency_city, "City", class: "form-label" %>
    <%= pilgrim_form.text_field :emergency_city, class: "form-control w-full" %>
  </div>
  <div>
    <%= pilgrim_form.label :emergency_primary_phone, "Primary phone", class: "form-label" %>
    <%= pilgrim_form.text_field :emergency_primary_phone, class: "form-control w-full" %>
  </div>
  <div>
    <%= pilgrim_form.label :emergency_alternative_phone, "Alternative phone", class: "form-label" %>
    <%= pilgrim_form.text_field :emergency_alternative_phone, class: "form-control w-full" %>
  </div>
</div>
