<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4 mb-4">
  <div>
    <%= sponsor.label :name, class: "form-label required" %>
    <%= sponsor.text_field :name, class: "form-control w-full" %>
    <%= component "shared/form_errors", resource: sponsor.object, key: :name %>
  </div>
  <div>
    <%= sponsor.label :primary_phone, class: "form-label required" %>
    <%= sponsor.text_field :primary_phone, class: "form-control w-full", placeholder: "910-555-1212" %>
    <%= component "shared/form_errors", resource: sponsor.object, key: :primary_phone %>
  </div>
  <div>
    <%= sponsor.label :email, class: "form-label required" %>
    <%= sponsor.text_field :email, class: "form-control w-full" %>
    <%= component "shared/form_errors", resource: sponsor.object, key: :email %>
  </div>
  <div>
    <%= sponsor.label :alternative_phone, class: "form-label" %>
    <%= sponsor.text_field :alternative_phone, class: "form-control w-full", placeholder: "910-555-1212" %>
  </div>
  <div>
    <%= sponsor.label :church_reunion, class: "form-label required" %>
    <%= sponsor.text_field :church_reunion, class: "form-control w-full" %>
    <%= component "shared/form_errors", resource: sponsor.object, key: :church_reunion %>
  </div>
</div>
