.border.rounded.p-2.mb-3
  %h5 New Users
  = form_for([:admin, AccountUser.new]) do |f|
    .row.pb-3
      .col-4
        %div
          = f.label :name
          = f.text_field :name, required: true, class: "form-control"
      .col-4
        %div
          = f.label :email
          = f.text_field :email, required: true, class: "form-control"
      .col-4
        %div
          = f.label :roles
          = f.collection_select :role_id, Role.all, :id, :human_name, { prompt: 'Select role' }, { class: "form-select" }
      .mt-3
        = f.submit t('.create_user_btn'), class: "btn btn-primary"
        = link_to t('cancel_btn'), admin_accounts_path, class: "btn btn-link"
