.border.rounded.p-2.mb-3
  %h5
    = t('.create_user')
  = form_for([:admin, AccountUser.new]) do |f|
    .row.pb-3
      .col-3
        %div
          = f.label :username
          = f.text_field :username, required: true, class: "form-control"
      .col-3
        %div
          = f.label :name
          = f.text_field :name, required: true, class: "form-control"
      .col-3
        %div
          = f.label :email
          = f.email_field :email, required: true, class: "form-control"
      .col-3
        %div
          = f.label :roles
          = f.collection_select :role_id, Role.all, :id, :human_name, { prompt: t(".select_role") }, { class: "form-select" }
      .mt-3
        = f.submit t('.create_user_btn'), class: "btn btn-primary"
        = link_to t('cancel_btn'), admin_accounts_path, class: "btn btn-link"
