<div class="row my-3">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h1 class="h2"><%= @account_user.user.name %><%= t('.profile_title') %></h1>
    <div>
      <%= link_to t('.login-as_btn'), "#", class: "btn btn-primary" %>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <section class="px-3">
      <%= render partial: "admin/account_users/account_users_name/row-name", locals: { account_user: @account_user} %>
      <%= render partial: "admin/account_users/account_users_email/row-email", locals: { account_user: @account_user} %>
      <%= render partial: "admin/account_users/account_users_role/row-role", locals: { account_user: @account_user} %>

      <%= tag.div class: "row mb-3 pb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.created_at') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.created_at) %></div>
      <% end unless @account_user.user.created_at.nil? %>

      <%= tag.div class: "row mb-3 pb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.updated_at') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.updated_at) %></div>
      <% end unless @account_user.user.updated_at.nil? %>

      <%= tag.div class: "row mb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.password_token') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.reset_password_token) %></div>
      <% end unless @account_user.user.reset_password_token.nil? %>

      <%= tag.div class: "row mb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.password_reset') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.reset_password_sent_at) %></div>
        <div class="col-sm-5"><%= link_to t(".reset_password"), "#", class: "btn btn-link" %></div>
      <% end %>

      <%= tag.div class: "row mb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.invitation_token') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.invitation_token) %></div>
      <% end unless @account_user.user.invitation_token.nil? %>

      <%= tag.div class: "row mb-3 pb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.invitation_sent') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.invitation_sent_at) %></div>
      <% end unless @account_user.user.invitation_sent_at.nil? %>

      <%= tag.div class: "row mb-3 pb-3" do %>
        <div class="col-sm-3 fw-bold text-uppercase"><%= t('.invitation_accepted') %></div>
        <div class="col-sm-4"><%= date_timestamp(@account_user.user.invitation_created_at) %></div>
      <% end unless @account_user.user.invitation_created_at.nil? %>
    </section>

  </div>
</div>



