<div class="flex justify-between items-center mb-8">
  <h1 class="h2"><%= t(".profile_title", user_name: @account_user.user.name) %></h1>
  <div>
    <%= link_to t(".login-as_btn"), "#", class: "btn btn-primary" %>
  </div>
</div>

<div class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <section>
    <%= render partial: "admin/users/users_name/row-name", locals: { account_user: @account_user } %>
    <%= render partial: "admin/users/users_username/row-username", locals: { account_user: @account_user } %>
    <%= render partial: "admin/users/users_email/row-email", locals: { account_user: @account_user } %>
    <%= render partial: "admin/users/users_role/row-role", locals: { account_user: @account_user } %>
    <% unless @account_user.user.created_at.nil? %>
      <%= tag.div class: "row mb-3 pb-3" do %>
        <%= t('.created_at') %>
        <%= date_timestamp(@account_user.user.created_at) %>
      <% end %>
    <% end %>

    <% unless @account_user.user.created_at.nil? %>
      <%= tag.div class: "row mb-3 pb-3" do %>
        <%= t('.updated_at') %>
        <%= date_timestamp(@account_user.user.updated_at) %>
      <% end %>
    <% end %>

    <% unless @account_user.user.reset_password_token.nil? %>
      <%= tag.div class: "row mb-3 pb-3" do %>
        <%= t('.password_token') %>
        <%= @account_user.user.reset_password_token %>
      <% end %>
    <% end %>

    <%= tag.div class: "row mb-3" do %>
      <%= t('.password_reset') %>
      <%= date_timestamp(@account_user.user.reset_password_sent_at) %>
      <%= link_to t(".reset_password"), "#", class: "btn btn-link" %>
    <% end %>

    <% unless @account_user.user.invitation_token.nil? %>
      <%= tag.div class: "row mb-3" do %>
        <%= t('.invitation_token') %>
        <%= @account_user.user.invitation_token %>
      <% end %>
    <% end %>

    <% unless @account_user.user.invitation_sent_at.nil? %>
      <%= tag.div class: "row mb-3" do %>
        <%= t('.invitation_sent') %>
        <%= date_timestamp(@account_user.user.invitation_sent_at) %>
      <% end %>
    <% end %>

    <% unless @account_user.user.invitation_created_at.nil? %>
      <%= tag.div class: "row mb-3" do %>
        <%= t('.invitation_accepted') %>
        <%= date_timestamp(@account_user.user.invitation_created_at) %>
      <% end %>
    <% end %>
  </section>
</div>
