<div class="flex justify-between mb-8" data-test-event="true">
  <div class="flex justify-center w-1/4 pt-4 text-3xl text-gray-600 font-bold">
    <%= event.start_time.strftime("%-d") %>
  </div>
  <div class="w-3/4">
    <%= component "event/address",  event: event %>

    <%= link_to event_path(event) do %>
      <%= component "event/title",  event: event %>
    <% end %>

    <%= component "event/address",  event: event unless event.address.nil? %>

    <%= content_tag :p do %>
      <%= event.description %>
    <% end unless event.description.nil? %>
  </div>
</div>