.table-responsive
  %table.table.small
    %thead
      %tr.border-start.border-end.border-top
        %th= t('.recipient')
        %th= t('.name')
        %th= t('.email')
        %th= t('.message')
        %th= t('.received')
    %tbody
      -if @messages.present?
        - @messages.each do |message|
          %tr.align-middle{id: dom_id(message)}
            %td= message.message_recipient.name
            %td= message.name
            %td= message.email
            %td= message.content
            %td= message.created_at.strftime("%d/%m/%Y %H:%M")
      -else
        %tr
          %td.bg-light.text-center.border-start.border-end.p-2{colspan: 5}
            = t('.no_messages')
