.m-3
  = render Shared::PageTitleComponent.new(title: "Message Dashboard")

  %h2.h3 Recipients
  = turbo_frame_tag "recipients_table" do
    = render partial: 'admin/messages/recipients_table', locals: { message_recipients: @message_recipients }

  %h2.h3 Messages
  = turbo_frame_tag "messages_table" do
    = render partial: 'admin/messages/messages_table', locals: { messages: @messages }