.m-0.m-sm-3
  = render Shared::PageTitleComponent.new(title: t(".message_dashboard"))

  .row.mb-3
    .col-6.d-flex.justify-content-start
      %h2.h3= t('.recipients')
    .col-6.d-flex.justify-content-start.justify-content-sm-end
      = link_to t('.new_recipient'), new_admin_message_recipient_path, data: { turbo_frame: "new_message_recipient"}, class: 'btn btn-primary'

  = turbo_frame_tag "new_message_recipient", target: "_top"

  = turbo_frame_tag "recipients_table" do
    = render partial: 'admin/messages/recipients_table', locals: { message_recipients: @message_recipients }

  %h2.h3 Messages
  = turbo_frame_tag "messages_table" do
    = render partial: 'admin/messages/messages_table', locals: { messages: @messages }