<div class="card my-4">
  <%= media_upload.inspect %>
  <%= form_with(model: [:admin, media_upload]) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label required" %>
      <%= form.text_field :name, class: "form-control" %>
      <%= render(Shared::FormErrorsComponent.new(resource: media_upload, key: :name)) %>
    </div>

    <div class="mb-3">
      <%= form.label :tag_list, "Category", class: "form-label required" %>
      <%= form.select(:tag_list, ActsAsTaggableOn::Tag.all.collect { |t| [t.name, t.name] }, { include_blank: true }, class: "form-select") %>
      <%= render(Shared::FormErrorsComponent.new(resource: media_upload, key: :tag_list)) %>
    </div>

    <div class="mb-3">
      <%= form.label :file, class: "form-label required" %>
      <% if media_upload.media_file.attached? %>
        <p>Current file: <%= link_to media_upload.media_file.filename, url_for(media_upload.media_file) %></p>
      <% else %>
        No file attached
      <% end %>
      <%= form.file_field :media_file, class: "form-control" %>
      <%= render(Shared::FormErrorsComponent.new(resource: media_upload, key: :media_file)) %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit media_upload.persisted? ? t("update_btn") : t("create_btn"), class: "btn btn-primary" %>
      <%= link_to t("cancel_btn"), admin_media_uploads_path, class: "btn btn-link" %>
    </div>

  <% end %>
</div>
