<%= component "shared/page_title", title: t('.title') do %>
  <%= link_to t('.new_media_uploads'), new_admin_media_upload_path, class: "btn btn-primary", data: { turbo_frame: "new_media_upload" } %>
<% end %>

<div class="card mt-8">
  <%= turbo_frame_tag "new_media_upload", target: "_top" %>

  <%= turbo_frame_tag "media_table" do %>
    <div class="relative overflow-x-auto shadow-sm sm:rounded-lg">
      <table class="admin-table">
        <thead>
          <tr>
            <th><%= t('.name') %></th>
            <th><%= t('.file_name') %></th>
            <th><%= t('.description') %></th>
            <th><%= t('.category') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @media_uploads.present? %>
            <% @media_uploads.each do |media_upload| %>
              <tr class="align-middle" id="<%= dom_id(media_upload) %>">
                <td><%= link_to media_upload.name, edit_admin_media_upload_path(media_upload), data: { turbo_frame: "_top" } %></td>
                <td><%= media_upload.media_file.filename %></td>
                <td><%= media_upload.description %></td>
                <td><%= media_upload.tag_list %></td>
                <td>
                  <%= button_to admin_media_upload_path(media_upload), type: 'submit', method: :delete,
                                form: { data: { 'turbo-confirm': t('.confirm'), "turbo-frame": "_top" } },
                                class: "text-danger float-end border-0 bg-transparent", id: 'delete-media_upload' do %>
                    icon
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="bg-light text-center border-start border-end p-2" colspan="5">
                <%= t('.no_media_uploads') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
