%h1 Admin::MediaUploads#new
%p Find me in app/views/admin/media_uploads/new.html.haml

= form_with(model: [:admin, @media_upload], class: "") do |form|
  .my-3
    = form.label :name
    = form.text_field :name, class: "form-control"

  .my-3
    = form.label :description
    = form.text_area :description, class: "form-control"

  .my-3
    = form.label :file
    = form.file_field :file, class: "form-control"

  .my-3
    = form.submit "Create", class: "btn btn-primary"
