<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen border-r bg-gray-800 border-gray-700 transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidenav"
  id="default-sidebar"
>
  <div class="overflow-y-auto py-5 px-3 h-full bg-gray-800">
    <ul class="space-y-2">
      <li>
        <%= link_to admin_root_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_root_path)] do %>
          <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-white"
               fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3"><%= t(".dashboard_ title") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_accounts_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_accounts_path)] do %>
          <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-white"
               fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3"><%= t(".accounts_title") %></span>
        <% end %>
      </li>
      <li>
        <button
          type="button" class="flex items-center p-2 w-full text-base font-medium rounded-lg transition duration-75 group text-white hover:bg-gray-700"
          aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="flex-1 ml-3 text-left whitespace-nowrap"><%= t(".events_title") %></span>
          <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="dropdown-pages" class="hidden py-2 space-y-2">
          <li>
            <%= link_to admin_accounts_path, class: ["flex items-center p-2 pl-11 w-full text-base font-medium rounded-lg group text-white hover:bg-gray-700", ("bg-gray-700 admin-nav-link-active" if request.path == admin_accounts_path)] do %>
              <%= t(".addresses_title") %>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to admin_messages_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_messages_path)] do %>
          <svg aria-hidden="true" class="w-6 h-6 text-gray-400 group-hover:text-white"
               fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3"><%= t(".messages_title") %></span>
        <% end %>
      </li>
    </ul>
    <ul class="pt-5 mt-5 space-y-2 border-t border-gray-700 dark:border-gray-700">
      <li>
        <a href="#" class="flex items-center p-2 text-base font-medium rounded-lg hover:bg-gray-700 text-white group">
          <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-400 group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
            <path
              fill-rule="evenodd"
              d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="ml-3">Docs</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="border-t border-gray-700 hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-gray-800 z-20">
    <a href="#" class="inline-flex justify-center p-2 text-gray-500 rounded dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-600">
      <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
        ></path>
      </svg>
    </a>
  </div>
</aside>
