<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen border-r bg-gray-800 border-gray-700 transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidenav"
  id="default-sidebar"
>
  <div class="overflow-y-auto py-5 px-3 h-full bg-gray-800">
    <ul class="border-b border-gray-700 pb-2 space-y-2">
      <li>
        <%= link_to admin_root_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_root_path)] do %>
          <svg class="w-6 h-6 text-gray-400 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z" clip-rule="evenodd" />
          </svg>
          <span class="ml-3"><%= t(".dashboard_ title") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_accounts_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_accounts_path)] do %>
          <svg class="w-6 h-6 text-gray-400 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd" />
          </svg>
          <span class="ml-3"><%= t(".accounts_title") %></span>
        <% end %>
      </li>
      <li>
        <div class="flex justify-between">
          <%= link_to admin_events_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_events_path)] do %>
            <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M6 5V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h1a2 2 0 0 1 2 2v2H3V7c0-1.1.9-2 2-2h1ZM3 19v-8h18v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm5-6a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2H8Z" clip-rule="evenodd" />
            </svg>
            <span class="flex-1 ml-3 text-left whitespace-nowrap"><%= t(".events_title") %></span>
          <% end %>
          <button type="button" class="flex justify-end p-2 w-full text-base font-medium rounded-lg transition duration-75 group text-white hover:bg-gray-700"
            aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages"
          >
            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <ul id="dropdown-pages" class="hidden py-2 space-y-2">
          <li>
            <%= link_to admin_accounts_path, class: ["flex items-center p-2 pl-11 w-full text-base font-medium rounded-lg group text-white hover:bg-gray-700", ("bg-gray-700 admin-nav-link-active" if request.path == admin_accounts_path)] do %>
              <%= t(".addresses_title") %>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to admin_media_uploads_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_media_uploads_path)] do %>
          <svg class="w-6 h-6 text-gray-400 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M9 2.2V7H4.2l.4-.5 3.9-4 .5-.3Zm2-.2v5a2 2 0 0 1-2 2H4a2 2 0 0 0-2 2v7c0 1.1.9 2 2 2 0 1.1.9 2 2 2h12a2 2 0 0 0 2-2 2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V4a2 2 0 0 0-2-2h-7Zm-6 9a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h.5a2.5 2.5 0 0 0 0-5H5Zm1.5 3H6v-1h.5a.5.5 0 0 1 0 1Zm4.5-3a1 1 0 0 0-1 1v5c0 .6.4 1 1 1h1.4a2.6 2.6 0 0 0 2.6-2.6v-1.8a2.6 2.6 0 0 0-2.6-2.6H11Zm1 5v-3h.4a.6.6 0 0 1 .6.6v1.8a.6.6 0 0 1-.6.6H12Zm5-5a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1h1a1 1 0 1 0 0-2h-2Z" clip-rule="evenodd" />
          </svg>
          <span class="ml-3"><%= t(".media_uploads_title") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_messages_path, class: ["flex items-center p-2 text-base font-medium text-white rounded-lg hover:bg-gray-700 group", ("bg-gray-700 admin-nav-link-active" if request.path == admin_messages_path)] do %>
          <svg class="w-6 h-6 text-gray-400 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M4 3a1 1 0 0 0-1 1v8c0 .6.4 1 1 1h1v2a1 1 0 0 0 1.7.7L9.4 13H15c.6 0 1-.4 1-1V4c0-.6-.4-1-1-1H4Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M8 17.2h.1l2.1-2.2H15a3 3 0 0 0 3-3V8h2c.6 0 1 .4 1 1v8c0 .6-.4 1-1 1h-1v2a1 1 0 0 1-1.7.7L14.6 18H9a1 1 0 0 1-1-.8Z" clip-rule="evenodd" />
          </svg>
          <span class="ml-3"><%= t(".messages_title") %></span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="border-t border-gray-700 hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-gray-800 z-20">
    <a href="#" class="inline-flex justify-center p-2 text-gray-500 rounded dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-600">
      <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
        ></path>
      </svg>
    </a>
  </div>
</aside>
