%nav.col-auto.col-md-3.col-xl-2.px-md-2.px-0.pb-2.bg-dark
  .d-flex.flex-column.align-items-center.align-items-sm-start.px-0.px-md-3.pt-4.text-white.min-vh-100
    .d-flex.justify-content-center.align-items-center.mb-3.mb-md-0.me-md-2.text-white.text-decoration-none.w-100
      %span.fs-4.d-none.d-md-inline= t('.dashboard_ title')
    %hr.w-100{:style => "height:2px; color:grey;"}/
    %ul.ms-1.mt-1.pe-3.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start.w-100
      %li.nav-item.w-100
        = link_to admin_root_path, class: [("nav-link text-white"), ("sidebar__active" unless controller_name != 'dashboard')] do
          %i.bi.bi-house-fill
          %span.d-none.d-md-inline= t('.home_title')
      %li.nav-item
        = link_to admin_accounts_path, class: [("nav-link text-white"), ("sidebar__active" if controller_name == 'accounts')] do
          %i.bi.bi-person-fill
          %span.d-none.d-md-inline= t('.accounts_title')
      %li.nav-item
        = link_to admin_events_path, class: [("nav-link text-white"), ("sidebar__active" if controller_name == 'events')] do
          %i.bi.bi-calendar3-event-fill
          %span.d-none.d-md-inline= t('.events_title')
    %hr.w-100{:style => "height:2px; color:grey;"}/
    .d-flex.justify-content-center.align-items-center.w-100
      .dropdown.pb-3
        %a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
          %strong.d-none.d-md-inline= current_user.first_name
        %ul.dropdown-menu.dropdown-menu-dark.text-small.shadow{"aria-labelledby" => "dropdownUser1"}
          %li= link_to t('.edit_profile'), "#", class: "dropdown-item"
          %li
            %hr.dropdown-divider
          %li= button_to t('logout_btn'), "#", method: :delete, class: "dropdown-item"
