%footer.bg-white.footer.mt-auto.py-4
  .container
    .row.mb-3
      .col-12.col-sm-6.col-md-4
        = render(Footer::ContactUsComponent.new)
      .col-12.col-sm-6.col-md-4
        - events = current_user ? Event.after_today_footer.limit(3) : Event.after_today_footer.where(role: nil).limit(3)
        = render(Footer::EventsComponent.new(events: events))
      .col-12.col-sm-6.col-md-4
        %h2.h3= t('.downloads_title')
        - @media_uploads = []
        - MediaUpload.all.includes([:taggings]).includes(media_file_attachment: :blob).each do |media_upload|
          - if media_upload.tag_list.include?("Documents")
            - @media_uploads << media_upload
        = render(Footer::DownloadsComponent.with_collection(@media_uploads))
    .row
      .col-12.text-center
        © #{Date.today.year} #{t('community_title')}
