.row
  .col-sm-6
    %h1 Events
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Start time
        %th Role
        %th End time
        %th Type
    %tbody
      - @events.each do |event|
        = content_tag :tr, id: dom_id(event), class: dom_class(event) do
          %td= link_to event.event_title, event
          %td= event.start_time
          %td= event.role
          %td= event.end_time
          %td= event.type
