= render(Shared::PageTitleComponent.new(title: t('.title')))

%div
  - @events.each do |event|
    %div
      = link_to event.name, event_path(event)
      = event.start_time

  = month_calendar(events: @events) do |date, events|
    = date

    - events.each do |event|
      %div
        = link_to event.name, event_path(event)