.container.w-75
  = render(Shared::PageTitleComponent.new(title: t('.title')))

  .card.border-0.shadow-sm
    .card.body.p-5
      - @events.each_with_index do |event, idx|
        .row.mb-3.pt-2
          - if idx >= 0 && event.start_time.month != @events[idx-1].start_time.month
            %h2.border-bottom.mb-3.pb-1= event.start_time.strftime('%B %Y')
          .col-1
            .text-muted.text-uppercase.font-small
              = event.start_time.strftime('%a')
            .fw-bold.font-large
              = event.start_time.strftime('%d')
          .col-6
            = render(Event::TimeBannerComponent.new(event: event))
            %h3.mt-2.event-title
              = link_to event.name, event_path(event)
            = render(Event::AddressComponent.new(event: event))
            .mt-2
              = event.description
