.page-header
  = link_to events_path, class: 'btn btn-default' do
    All Events
  %h1 Show event
%dl.dl-horizontal
  %dt Name:
  %dd= @event.name
  %dt Start time:
  %dd= @event.start_time
  %dt Role:
  %dd= @event.role
  %dt End time:
  %dd= @event.end_time
  %dt Type:
  %dd= @event.event_type
