.container.w-75
  = render(Shared::PageTitleComponent.new(title: @event.event_title))

  .row
    .col-12.col-md-6
      = render(Event::TimeBannerComponent.new(event: @event))
      %h3.mt-2.event-title
        = @event.name
      = render(Event::AddressComponent.new(event: @event))
      .mt-2
        = @event.description
      .my-5
        %button.btn.btn-outline-primary
          = t('.add_to_calendar')
    .col-12.col-md-6.mt-3
      = t('.future_map')