.page-header
  = link_to events_path, class: 'btn btn-default' do
    All Events
  %h1 Show event
%dl.dl-horizontal
  %dt= t('.event_name')
  %dd= @event.name
  %dt= t('.event_start_time')
  %dd= @event.start_time
  %dt= t('.event_role')
  %dd= @event.role
  %dt= t('.event_end_time')
  %dd= @event.end_time
  %dt= t('.event_type')
  %dd= @event.event_type
