= tag.div class: "row align-content-center mb-3", id: "edit_username_#{dom_id(account_user.user)}" do
    .col-sm-3.d-flex.align-items-center.fw-bold.text-uppercase= t('admin.users.users_username.row-username.edit_username')
    .col-sm-4.d-flex.align-items-center= account_user.user.username
    .col-sm-5= link_to t(".btn_edit_username"), edit_admin_user_users_username_path(user_id: account_user.user), class: "btn btn-link"