.container-fluid.container-sm

  %h1.text-center= t('.questions')
  %p.lead.font-large Do you have a question? We have assembled a list of common questions to help you with this web site. Feel free to ask any additional questions you might have.

  .accordion#accordionExample.mt-5
    .accordion-item
      %h2.accordion-header
        %button.accordion-button{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#collapseOne", 'aria-expanded': "true", 'aria-controls': "collapseOne"}
          %strong= t('.registered_area')
      #collapseOne.accordion-collapse.collapse.show{'data-bs-parent': "#accordionExample"}
        .accordion-body
          = t('.registered_area_text')
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.collapsed{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#collapseTwo", 'aria-expanded': "false", 'aria-controls': "collapseTwo"}
          %strong= t('.contact_database')
      #collapseTwo.accordion-collapse.collapse{'data-bs-parent': "#accordionExample"}
        .accordion-body
          = t('.contact_database_text_html')
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.collapsed{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#collapseThree", 'aria-expanded': "false", 'aria-controls': "collapseThree"}
          %strong= t('.emmaus')
      #collapseThree.accordion-collapse.collapse{'data-bs-parent': "#accordionExample"}
        .accordion-body
          = t('.emmaus_text_html')
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.collapsed{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#collapseFour", 'aria-expanded': "false", 'aria-controls': "collapseFour"}
          %strong= t('.prayer')
      #collapseFour.accordion-collapse.collapse{'data-bs-parent': "#accordionExample"}
        .accordion-body
          = t('.prayer_text_html')
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.collapsed{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#collapseSix", 'aria-expanded': "false", 'aria-controls': "collapseSix"}
          %strong= t('.sponsorship')
      #collapseSix.accordion-collapse.collapse{'data-bs-parent': "#accordionExample"}
        .accordion-body
          = t('.sponsorship_text')
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.collapsed{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#collapseFive", 'aria-expanded': "false", 'aria-controls': "collapseFive"}
          %strong= t('.rosters')
      #collapseFive.accordion-collapse.collapse{'data-bs-parent': "#accordionExample"}
        .accordion-body
          = t('.rosters_text')