<div class="simple-calendar">
  <div class="calendar-heading">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>

    <nav>
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </nav>
  </div>
  <% date_range.each_slice(7) do |week| %>
    <div>
      <% week.each do |day| %>
        <% if calendar.sorted_events_for(day).nil? %>
        none
        <% else %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
