<%= turbo_frame_tag "editables" do %>
  <div>
    <table class="admin-table">
      <thead>
        <tr>
          <th style="width: 150px">Short Name</th>
          <th>Content</th>
          <th style="width: 150px">Status</th>
          <th style="width: 150px"></th>
        </tr>
      </thead>
      <tbody>
        <% if editables.empty? %>
          <tr>
            <td class="text-center" colspan="4">No editables found</td>
          </tr>
        <% else %>
          <% editables.each do |editable| %>
            <%= content_tag :tr, id: dom_id(editable) do %>
              <td><%= editable.shortname %></td>
              <td><%= editable.content %></td>
              <td>
                <%= turbo_frame_tag "activate_#{dom_id(editable)}" do %>
                  <%= render "admin/editables/activation", editable: editable %>
                <% end %>
              </td>
              <td>
                <div class="flex justify-end items-center">
                  <%= link_to edit_admin_editable_path(editable), target: "_top" do %>
                    <svg class="w-6 h-6 text-success-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z" />
                    </svg>
                  <% end if current_user.has_role?(:superadmin) || current_user.has_role?(:admin) %>
                  <%= button_to admin_editable_path(editable), class: "ms-4", method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } do %>
                    <svg class="w-6 h-6 text-danger-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M8.6 2.6A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4c0-.5.2-1 .6-1.4ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd" />
                    </svg>
                  <% end if current_user.has_role?(:superadmin) %>
                </div>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>