= tag.div class: "row align-content-center mb-3", id: "edit_email_#{dom_id(user)}" do
  .col-sm-3.d-flex.align-items-center.fw-bold.text-uppercase= t('admin.account_users.show.email')
  .col-sm-9.d-flex.align-items-center
    = form_with(url: admin_user_users_email_path(@user), method: :put) do |f|
      - if @user.errors.any?
        = @user
        .alert.mb-0.py-0
        - @user.errors.full_messages.each do |msg|
          .text-danger= msg
      .d-flex
        = f.text_field :email, value: @user.email, class: "form-control"
        = f.submit t("save"), class: "btn btn-sm btn-primary ms-2"
        = f.submit t("cancel_btn"), class: "btn btn-sm btn-outline-primary ms-1"
