= tag.div class: "row align-content-center mb-3", id: "edit_name_#{dom_id(account_user.user)}" do
    .col-sm-3.d-flex.align-items-center.fw-bold.text-uppercase= t('.name')
    .col-sm-4.d-flex.align-items-center= account_user.user.name
    .col-sm-5= link_to t("edit_btn"), edit_admin_user_users_name_path(user_id: account_user.user), class: "btn btn-link"
