<p><%= t('mailers.booking_mailer.booking_confirmation.body', walk: @booking.prayer_vigil.title) %></p>

<dl>
  <dt><%= t('mailers.booking_mailer.booking_confirmation.event') %></dt>
  <dd><%= @booking.prayer_vigil.title %></dd>
  <dt><%= t('mailers.booking_mailer.booking_confirmation.name') %></dt>
  <dd><%= @booking.name.titleize %></dd>
  <dt><%= t('mailers.booking_mailer.booking_confirmation.time') %></dt>
  <dd><%= @booking.prayer_slot.start_time.strftime("%b %d, %y - %I:%M %p") %></dd>
</dl>

<%= t('mailers.booking_mailer.booking_confirmation.board') %>