= tag.div class: "row align-content-center mb-3", id: "edit_role_#{dom_id(account_user)}" do
  = debug(params)
  .col-sm-3.d-flex.align-items-center.fw-bold.text-uppercase= t('admin.account_users.show.name')
  .col-sm-9.d-flex.align-items-center
    = form_with(url: admin_user_users_role_path(@user), method: :put) do |f|
      .d-flex.align-items-center
        = f.collection_select :role, Role.all, :name, :human_name, { selected: @user.roles.first.name }, class: "form-select"
        = f.submit t("save"), class: "btn btn-sm btn-primary ms-2"
        = link_to t("cancel_btn"), :back, class: "btn btn-sm btn-outline-primary ms-1"
