- unless account_user.user.profile_roles.nil?
  = tag.div class: "row align-content-center mb-3", id: "edit_role_#{dom_id(account_user)}" do
    .col-sm-3.d-flex.align-items-center.fw-bold.text-uppercase= t('admin.account_users.show.role')
    .col-sm-4.d-flex.align-items-center= account_user.user.profile_roles
    .col-sm-5= link_to t(".edit_role"), edit_admin_user_users_role_path(user_id: account_user.user.id, account_user_id: account_user), class: "btn btn-link"
