<div class="container w-full md:w-1/2 mx-auto">
  <%= render(Shared::PageTitleComponent.new(title: "Edit user profile")) %>

  <div class="card mt-8">
    <%= form_with(url: admin_user_path, model: @user) do |f| %>
      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
        <%= component "shared/form_errors", resource: f.object, key: :name %>
      </div>

      <div class="mb-3">
        <%= f.label :username, class: "form-label" %>
        <%= f.text_field :username, class: "form-control" %>
        <%= component "shared/form_errors", resource: f.object, key: :username %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.text_field :email, class: "form-control" %>
        <%= component "shared/form_errors", resource: f.object, key: :email %>
      </div>

      <%= f.fields_for :account_users, @account_user do |form| %>
        <%= form.label :role_id, class: "form-label" %>
        <%= form.collection_select :role_id, @roles, :id, :human_name, { selected: @user.role_ids.first, prompt: "Select role" }, { class: "form-select" } %>
        <%= component "shared/form_errors", resource: f.object, key: :role_id %>
      <% end %>

      <div class="my-3">
        <%= f.submit "Update User", class: "btn btn-primary" %>
        <%= link_to t('cancel_btn'), admin_accounts_path, class: "btn btn-link" %>
      </div>
    <% end %>
  </div>
</div>
