<div class="w-3/4 mt-5 mx-auto">
  <h1 class="text-center mb-5"><%= t(".directions") %></h1>

  <div class="w-3/4 mx-auto mb-8">
    <%= t(".opportunity") %>

    <h2 class="h3 mt-5"><%= t(".retreat") %></h2>

    <p class="my-3">
      <%= t(".retreat_text_html") %>
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.100731622702!2d-77.50815358839655!3d34.44959077289734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89a9a3afee93912b%3A0x4053b9f14d520abd!2s2006%20Wicker%20St%2C%20North%20Topsail%20Beach%2C%20NC%2028460!5e0!3m2!1sen!2sus!4v1699389856255!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <h2 class="h3 mt-5"><%= t(".send-off") %></h2>

    <p class="my-3">
      <%= t(".send_off_text_html") %>
    </p>

    <h2 class="h3 mt-5"><%= t(".candlelight") %></h2>

    <p class="my-3">
      <%= t(".candlelight_text") %>
    </p>

    <h2 class="h3 mt-5"><%= t(".closing") %></h2>

    <p class="my-3">
      <%= t(".closing_text") %>
    </p>

    <iframe allowfullscreen="" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.6028597227905!2d-77.55838728839711!3d34.43684157290202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89a9a2847c2a6ce5%3A0xc05c80eca3cf2577!2s14201%20NC-50%2C%20Surf%20City%2C%20NC%2028445!5e0!3m2!1sen!2sus!4v1699390263855!5m2!1sen!2sus"
            style="border:0;" width="600"></iframe>
  </div>
</div>
