<!DOCTYPE html>
<html class="h-100" lang="<%= locale %>">
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light">
    <div id="toasts" class="position-absolute top-0 end-0"></div>

    <div class="admin container-fluid bg-light">
      <div class="row flex-nowrap">
        <%= render 'shared/admin_navbar' %>

        <main class="main col mx-4 pt-4">
          <%= render "shared/admin_header" %>
          <%= yield %>

          <div class="card mt-5 p-2">
            <%= debug(params) if Rails.env.development? %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
