!!!
%html.h-100{:lang => locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Rails.configuration.application_name
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body.bg-light
    .admin.container-fluid.bg-light
      .row.flex-nowrap
        = render 'shared/admin_navbar'
        %main.main.col.mx-4.pt-4
          = render "shared/admin_header"
          = render 'shared/notices'
          .container.position-relative
            #toasts
          = yield
          .card.mt-5.p-2
            = debug(params) if Rails.env.development?
