<!DOCTYPE html>
<html class="h-100" lang="<%= locale %>">
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0"> 
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <div class="container position-relative">
        <div id="toasts" class="position-absolute top-0 end-0">
        </div>
      </div>

      <div class="container mt-4 mx-auto">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
