<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <%# TODO: Replace this hack with meta-tags gem %>
    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield(:meta_description) %>">
    <% else %>
      <meta name="description" content="<%= t("community_description") %>">
    <% end %>

    <title>
      <% if content_for?(:page_title) %>
        <%= yield(:page_title) %> | <%= t("community_title") %>
      <% else %>
        <%= t("community_title") %>
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "/favicon.ico" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes=180x180>
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/favicon-16X16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/site.manifest">
  </head>
  <body class="flex flex-col h-screen bg-gray-50">
    <main class="mb-auto" data-controller="flash">
      <%= render "shared/navbar" %>
      <%= render "shared/notices" %>

      <div class="container mx-auto">
        <%= yield %>

        <% if Rails.env.development? %>
          <div class="bg-white w-1/2 p-4 mx-auto text-center border text-red-500 text-sm">
            <%= debug(params) %>
          </div>
        <% end %>
      </div>
    </main>

    <%= render "shared/footer" %>
    <script>(g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })
    ({ key: "<%= Rails.application.credentials.google[:maps_api_key] %>", v: "weekly" });</script>
  </body>
</html>