!!!
%html{:lang => locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Rails.configuration.application_name
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag "/favicon.ico"
    %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}
    %link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
    %link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
    %link{href: "/site.webmanifest", rel: "manifest"}
  %body
    %main
      = render 'shared/navbar'
      = render 'shared/notices'
      %div
        #toasts
      .container
        = yield
        - if Rails.env.development?
          .card.my-5.p-2
            = debug(params)
    = render 'shared/footer'
